version: "3.3"
   
services:
  server:
    build: 
      context: ./server
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./server:/code
    ports:
      - "8000:8000"
  client:
    build:
      context: ./client
    command: npm --prefix /app/ run storybook
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - 3000:3000
      - 6006:6006